{% extends "home.html" %}

{% block navbar %}
<div id="tabs" align="center">
    <ul id="navbar">
        {% for item in data['tabs'] %}
            {{ item|safe }} 
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="loading" align="center"></div>
<div id="result" align="center">
    <div id="all-result" align="center">
        {% for item in data['embeds'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="twitter-result" align="center">
        {% for item in data['twitter'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="instagram-result" align="center">
        {% for item in data['instagram'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="youtube-result" align="center">
        {% for item in data['youtube'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
</div>
{% endblock %}
