{% extends "home.html" %}

{% block navbar %}
<div id="tabs" align="center">
    <ul id="navbar">
        {% for item in data['tabs'] %}
            {{ item|safe }} 
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="result" align="center">
    <div id="all-result" align="center">
        {% for item in data['embeds'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="twitter-result" align="center">
        {% for item in data['twitter'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="instagram-result" align="center">
        {% for item in data['instagram'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
    <div id="youtube-result" align="center">
        {% for item in data['youtube'] %}
            {{ item|safe }} 
        {% endfor %}
    </div>
</div>

<div id="sentinel" align="center" style="height: 20px;">
    <div id="loading-bottom" align="center"></div>
</div>

<script>

    var twitterResult = document.querySelector('#twitter-result');
    var twitterTab = document.querySelector('#twitter');
    var youtubeResult = document.querySelector('#youtube-result');
    var youtubeTab = document.querySelector('#youtube');
    var sentinel = document.querySelector('#sentinel');

    var twitterPage = 1;

    function loadTwitter() {
        twitterPage += 1;
        fetch(`/load-twitter?c=${twitterPage}`).then((response) => {
            response.json().then((data) => {
                if (!data.twitter.length) {
                    sentinel.innerHTML = "No more posts";
                }

                for (var i = 0; i < data.twitter.length; i++) {
                    twitterResult.insertAdjacentHTML('beforeend', data.twitter[i]);
                }

                twttr.widgets.load(document.getElementById("result"));
            })
        })
    }

    function loadYouTube() {
        fetch(`/load-youtube`).then((response) => {
            response.json().then((data) => {
                if (!data.youtube.length) {
                    sentinel.innerHTML = "No more posts";
                }

                for (var i = 0; i < data.youtube.length; i++) {
                    youtubeResult.insertAdjacentHTML('beforeend', data.youtube[i]);
                }
            })
        })
    }

    var intersectionObserver = new IntersectionObserver(entries => {
        if (entries[0].intersectionRatio <= 0) {
            return;
        }
        if (twitterTab.classList.contains('active'))
            loadTwitter();
        else if (youtubeTab.classList.contains('active'))
            loadYouTube();
    });
    intersectionObserver.observe(sentinel);

</script>
{% endblock %}
